# Folders to ignore
__pycache__/
*.egg-info/

# Files to ignore
*.txt

# Specific folders to ignore
data/tests
data/calibrator_databases
data/catalogues
libs/reduction/jacob_files
libs/reduction/tools-master
libs/reduction/tools-master.zip

# Specific files to ignore
data/mat_target_list.xlsx
data/catalog.fits
data/cflux_calib.sof
libs/reduction/calib_BCD2.py
libs/reduction/avg_oifits.py
libs/grep/get_gravity_data.py
