*.fits filter=lfs diff=lfs merge=lfs -text
*.fitsold filter=lfs diff=lfs merge=lfs -text
*.fitold filter=lfs diff=lfs merge=lfs -text
src/matadrs/data/calibrator_databases/vBoekelDatabase.fitsold filter=lfs diff=lfs merge=lfs -text
