# Folders to ignore
__pycache__/
*.egg-info/

# Files to ignore
*.txt

# Specific folders to ignore
data/
src/matadrs/libs/reduction/jacob_files
src/matadrs/libs/reduction/tools-master
src/matadrs/libs/reduction/tools-master.zip

# Specific files to ignore
src/matadrs/libs/reduction/calib_BCD2.py
src/matadrs/libs/reduction/avg_oifits.py
src/matadrs/libs/grep/get_gravity_data.py
